<div class="container-fluid">
	  <div class="row-fluid">
	    <div class="span2">
	      <div class="well sidebar-nav">
	        <ul class="nav nav-list" class="nav " id="myTab">
	          <% @companies.each do |company| %>
	  		 	<li id="#{i}"><%= link_to company.name, company_path(company.id), class: "btn" %> </li>
	  		  <% end %>
	        </ul>
	      </div><!--/.well -->
	    </div><!--/span-->
 
	   

	  </div>
	</div><!--end container-fluid-->
