<div class="container-fluid">
	  <div class="row-fluid">
	    <div class="span2">
	      <div class="well sidebar-nav">
	        <ul class="nav nav-list" class="nav " id="myTab">
	          <% (1..18).each do |i| %>
	  		 	<li id=`<%#{i}%>`><a href="#">Company Name</a></li>
	  		  <% end %>
	        </ul>
	      </div><!--/.well -->
	    </div><!--/span-->
 
	   

	  </div>
	</div><!--end container-fluid-->
