<ul class="nav nav-tabs" id="example">
  <li class="active"><a href="#home">Home</a></li>
  <li><a href="#profile">Profile</a></li>
  <li><a href="#messages">Messages</a></li>
  <li><a href="#settings">Settings</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="home">.gag..</div>
  <div class="tab-pane" id="profile">.fag</div>
  <div class="tab-pane" id="messages">.ga.</div>
  <div class="tab-pane" id="settings">..ga.</div>
</div>
 